<h1>Total</h1>
<h2><%= price %></h2>
<h3>Please verify the following information: </h3>
<p><%= current_user.name %>
<%= current_user.phone %>
<%= current_user.address %></p>

<p> To confirm, your order is:
	<%= pizza %>
</p>
